<h1><%= current_user.list.title %></b></h1>




<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Days Remaining</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% current_user.list.items.each do |item| %>
          <%= item.content %><br/>
        <% end %>
        <%= link_to "Add item", new_item_path, class: 'btn btn-primary' %>
      </td>
      <td>
        <% current_user.list.items.each do |item| %>
          <%= item.days_left %><br/>
        <% end %>
      </td>
      <td>
        <% current_user.list.items.each do |item| %>
          <input type="checkbox"><br/>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>