<h1><%= current_user.list.title %></b></h1>

<div class="row">
  <div class="col-md-4">
    <h2>Description</h2>
    <% current_user.list.items.each do |item| %>
      <%= item.content %><br/>
    <% end %>
    <%= link_to "Add item", new_item_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-4">
    <h2>Days Remaining</h2>
    <% current_user.list.items.each do |item| %>
      <%= item.days_left %><br/>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2>Complete</h2>
    <% current_user.list.items.each do |item| %>
      <div class="checkbox">
        <label>
          <input type="checkbox">
        </label>
      </div>
    <% end %>
  </div>
</div>