<br/>
<div class="jumbotron">
  <h1>Blocitoff (Alpha)</h1>
  <p id="tagline">Live your life neater</p>
</div>
<div>
  <% if current_user %>
    <%= current_user.list.title %>
  <% else %>
    No list yet<br/>
  <% end %>
  <% if current_user %>
    there is a current_user: <%= current_user.name %>
    list is: <%= current_user.list.title %>
  <% else %>
    No current user
  <% end %>

</div>